@charset "UTF-8";

section {
    width: 1200px;
	margin:auto;
}

#campinghugi{
	margin-top: 150px;
	margin-bottom: -1px;
	font-size: 1.4em;
	font-weight: bold;
	color: green;
	
	
}
table{
    width: 100%;
    border-collapse: collapse;
    line-height: 20px;
    margin-bottom: 150px;
}
table td,th {
    border-top: 1.5px solid green;
    border-bottom: 1.5px solid green;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
th {
	background:  #80808030;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}