@charset "UTF-8";

section{
	width:1200px;
    margin:auto;
}
section #memberFrm{
    margin:auto;
}
#myPageTitle {
    text-align:center;
    margin-bottom:30px;
    font-size:x-large;
    font-weight:bold;
}
table{
    width:100%;
    padding:200px;
}
table tr{
	text-align:center;
}
table tr td{
	width:70%;	
	text-align:left;
}
table td:not(:first-child){
    padding:10px;
}
table tr th{
	width:30%;
    text-align:left;
}
table tr:not(:last-child) input {
    background-color:darkseagreen;
}

table td:last-child{
    text-align:center;
}