@charset "UTF-8";

#pageBar {
    margin: 0 auto;
    text-align: center;
}

#pageBar button {
    color: white;
    background-color: mediumseagreen;;
    border: none;
    height: 20px;
    border-radius: 5px;
}

#pageBar button:hover, #pageBar button:focus {
	color:#fff;
	background-color:#c5e1a5;
}